body{
	background: #3053A6;
}
#content{
	margin: 0 auto;
	width: 900px;
	font-family: 'helvetica';
} 
#header{
	font-size: 10px;
	text-align: center;
	color: #DAE2F5;
}
#errors{
	text-align: center;
	margin: 0px 0px 5px 0px;
}

#input_area{
	text-align: center;
	margin: 0px auto;
}

#errortext{
	visibility: hidden;
	background: #FFC4C5;
	text-align:center;
	font-size: 11px;
	border: 1px solid #FC2D31;
	padding: 1px 5px;
}

#display{
	border: 1px solid black;
	float: left;
	width: 400px;
	height: 400px;
}

#menu{
	clear:both;
	padding: 20px 20% 0% 30%;
}

.menu_button {
	display: inline;
	font-size: 20px;
	width: 150px;
	height: 50px;
}

.log_output{
	width: 480px;
	height: 401px;
	overflow: auto;
	color: #FFF;
	background-color: #000;
	border: 1px solid #666;
	padding: 8px;
	font-family: 'Helvetica';
	font-size: 12px;
	float: right;
	border: 1px solid black;
}